<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.hackathon">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/user_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main3Activity" />
        <activity
            android:name=".Register"
            android:label="Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Success_registeration" />
        <activity android:name=".Complete_profile" />
        <activity android:name=".profile_update" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Addactivity"
            android:label="@string/title_activity_addactivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Edititem"
            android:label="@string/title_activity_edititem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewItem"
            android:label="@string/title_activity_view_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Track"
            android:label="@string/title_activity_track"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detailed_tracking"
            android:label="@string/title_activity_detailed_tracking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hazard"
            android:label="@string/title_activity_hazard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Result"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Policies"
            android:label="@string/title_activity_policies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Graph"
            android:label="@string/title_activity_graph"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddNew" />
        <activity
            android:name=".AddNew2"
            android:label="@string/title_activity_add_new2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Learn"
            android:label="@string/title_activity_learn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".Notificationrec" />

        <activity
            android:name=".Recevie"
            android:label="@string/title_activity_recevie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainHazard"
            android:label="@string/title_activity_main_hazard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".table"
            android:label="@string/title_activity_table"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Definitions"
            android:label="@string/title_activity_definitions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResponsibiltyofCollector"
            android:label="@string/title_activity_responsibiltyof_collector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Responsibiltyofproducer"
            android:label="@string/title_activity_responsibiltyofproducer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Collectioncenter"
            android:label="@string/title_activity_collectioncenter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Manufacturer"
            android:label="@string/title_activity_manufacturer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dealer"
            android:label="@string/title_activity_dealer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Recycler"
            android:label="@string/title_activity_recycler"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- Firebase Notifications -->
        <!-- ./Firebase Notifications -->
    </application>

</manifest>